.success {
    color: green;
}

.failure {
    color: red;
}

.button_container {
    text-align: center;
}

.ui-header .ui-title, .ui-footer .ui-title {
    /* fix title truncation */
    margin-left: 0;
    margin-right: 0;
}
